.list-container {
    max-width: 1100px;
    margin: 0 auto;
    padding-block: 30px;
}

.list-title {
    font-size: 35px;
}

.list-separador {
    margin: 15px 0;
}

.products__container {
    display: flex;
    gap: 30px;
}